<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Greeter App</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
