{% extends "layout.html" %}
{% block title %}Downloads{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">

        <h1 class="page-header">Download and install SAP</h1>
        <p>
        If you only want to run a few analyses using SAP, you can use the <a href="{{ url_for('server') }}">web server</a>. 
        Otherwise you should run SAP on your own machine. 
    </p>
    <h3>Docker image</h3>
    <p>
        SAP is now distributed as a Docker image allowing it to run on both Mac, Windows, and Linux. 
        To use SAP in this way, you need to download and install <a href="https://www.docker.com/get-started">Docker Desktop</a>.
        Having done that, you run sap from the command line using this command on Mac/Linux:</p>

        <pre>docker run --rm -v $PWD:/code/sap kaspermunch/sap:latest</pre>

        <a>and this one on Windows:</a>

        <pre>docker run --rm -v %CD%:/code/sap kaspermunch/sap:latest</pre>

        <p>The first time you do this it will pull the image from DockerHub and run it. 
            On subsequent runs it will run the cached image.</p>

        <p>See the <a href="{{ url_for('docs') }}">documentation</a> for how to use sap on the command line.</p>

        <h3>Running the image with Singularity</h3>

        <p>Where it is not possible to install Docker, as is often the case on shared computing facilities, the image can be pulled using 
            <a href="https://sylabs.io/singularity/">Singularity</a> (you only need to do this once):</p>

        <pre>singularity pull sap docker://kaspermunch/sap:latest</pre>
    
        <p>Then just run the image as any other executable:</p>
    
        <pre>./sap [ARGUMENTS]</pre>

        <!-- <h3>Make a conda environment</h3>
        <p>The easiest way to install the command line version of SAP on Mac and Linux is to first install Anaconda Python.
             Once that is done you can create a conda environment. The command for doing this depends on your operating system.
        </p>

        <p>On <strong>Linux</strong> use this command:</p>

        <pre>conda create --name sap -c conda-forge -c bioconda -c biobuilds -c anaconda python=2.7 blast clustalw biopython==1.75 gcc_linux-64 gxx_linux-64 git</pre>

        <p>On <strong>Mac</strong> use this command:</p>

        <pre>conda create --name sap -c conda-forge -c bioconda -c biobuilds -c anaconda python=2.7 blast clustalw biopython==1.75 clang_osx-64 clangxx_osx-64 git</pre>

        <h3>Activate environment</h3>

        <p>Activate the `sap` environment like this:</p>

        <pre>conda activate sap</pre>

        <h3>Download SAP from GitHub</h3>

        <P>Then clone the SAP source code from GitHub:</P>

        <pre>git clone https://github.com/kaspermunch/sap.git</pre>

        <h3>Install SAP</h3>

        <p>Then enter the `sap` directory and install sap:</p>

        <pre>cd sap</pre>

        <p>Then install sap:</p>

        <p>On Linux:</p>

        <pre>python setup.py install</pre>

        <p>On Mac:</p>
        
        <pre>export CXX=clang ; python setup.py install</pre>

        <p>That's it.</p>

    
        <h3>Run SAP</h3>

        <p>To run sap you must always first acativate the sap environment where you installed it:</p>

        <pre>conda activate sap</pre>

        <p>Then you can run sap. Here just to see the help text:</p>
        <pre>sap --help</pre> -->

        <!-- <p>See the <a href="{{ url_for('docs') }}">documentation</a> for how to use sap on the command line.</p> -->


    </div>



</div>
{% endblock %}
