{% extends "layout.html" %}
{% block title %}Example{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="row">

    <div class="col-xs-8 col-xs-10 col-md-12">
        <h1 class="page-header">Example Assignment</h1>
        <p>lk slkdjf laksj flkasj lfkjas lfkja lskjf laksjd flaksjd flaksjd</p>

        <div class="table-responsive">
            <table class="table">
                <tr><th align="left">file</th><th align="left">cutoff</th><th align="left">detail</th><th align="left">id</th><th align="left">phylum</th><th align="left">class</th><th align="left">order</th><th align="left">family</th><th align="left">genus</th><th align="left">species</th><th align="left">nr. homolgues</th><th align="left">min. freq. homologue</th><th align="left">min. prob. taxon</th></tr>
                <tr><td>tmp</td><td>0.95</td><td><a href="clones/tmp_116877327.html">116877327</a></td><td>116877327</td><td><a href="http://www.eol.org/search?q=Chordata&search_image=">Chordata</a></td><td><a href="http://www.eol.org/search?q=Aves&search_image=">Aves</a></td><td><a href="http://www.eol.org/search?q=Passeriformes&search_image=">Passeriformes</a></td><td><a href="http://www.eol.org/search?q=Tyrannidae&search_image=">Tyrannidae</a></td><td><a href="http://www.eol.org/search?q=Myiarchus&search_image=">Myiarchus</a></td><td><a href="http://www.eol.org/search?q=Myiarchus+tuberculifer&search_image=">tuberculifer</a></td><td>5</td><td>NA</td><td>NA</td></tr>
            </table>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <h2>Assignment tree</h2>
        <p>lkassja flasj flkasj flaskj flkajs df </p>
    </div>


    <div class="col-xs-12 col-md-8 img-responsive">
        <img src="static/img/tree.svg" alt="Assignment tree">
    </div>

    <div class="col-xs-12 col-md-12">
        <h2>Etc Etc</h2>
        <p>lkasjd flkjas fljkas flkjas lfkj aslkjdf laskjf laksjf lkasjd flaksj flkasj flkasj flk fljkas flkjas lfkj aslkjdf laskjf laksjf lkasjd flaksj flkasj flkasj flk fljkas flkjas lfkj aslkjdf laskjf laksjf lkasjd flaksj flkasj flkasj flk fljkas flkjas lfkj aslkjdf laskjf laksjf lkasjd flaksj flkasj flkasj flk fljkas flkjas lfkj aslkjdf llkasjd flaksj flkasj flkasj flk fljkas flkjas lkjdf laskjf laksjf lkasjd flaksj flkasj flkasj flk fljkas flkjas lfkj aslkjdf laskjf laksjf lkasjd flaksj flkasj flkasj flk fljkas flkjas lfkj aslkjdf laskjf laksjf lkasjd flaksj flkasj flkasj flk fljkas flkjas lfkj aslkjdf laskjf laksjf lkasjd flaksj flkasj flkasj flk fljkas flkjas lfkj aslkjdf laskjf laksjf lkasjd flaksj flkasj flkasj flksja flasj flkasj flaskj flkajs df </p>
    </div>

</div>

<hr>
<div class="row">
    <div class="col-xs-12">
        <footer>
            <p>&copy; Copyright 2014 Kasper Munch</p>
        </footer>
    </div>
</div>
{% endblock %}